<h1 class="current-type"><%= params[:type] %></h1>

<% if  @restaurants.count == 0 %>

  <h1>There are currrently no restaurants in this type</h1>

<% else %>

  <div class="row">

    <% @restaurants.each do |restaurant| %>
      <div class="col-md-4">
        <a href="/restaurants/<%= restaurant.id %>">
          <%= image_tag restaurant.restaurant_img.url(:restaurant_index), class: "restaurant" %>
          <div id="restaurant-name"><%= restaurant.name %></div>
        </a>
      </div>

    <% end %>

  </div>

<% end %>
